body{

}

/* GRID 1 HEADER */
.grid {
  display: grid;
  grid-template-areas:
  
    "divisor5 nada1 nada1 nada1 main"
    "rrss header header header main"
    "divisor2 header header header main"
    "divisor2 nada deslizar nada_derecho main"
    "divisor3 espacio_blanco espacio_blanco espacio_blanco espacio_negro"
    "cruz espacio titulo espacio2 espacio_negro"
    "divisor4 sub_titulo sub_titulo sub_titulo espacio_negro"
    "divisor4 espacio_blanco2 espacio_blanco2 espacio_blanco2 espacio_negro";

  grid-template-rows:  6fr  1fr 2fr 6fr  3fr 1fr 1fr 3fr;
  grid-template-columns: 1fr 3fr 2fr 3fr 1fr ;
  height: 100vh;
  margin: 0;
}

.container{
  background-image: url("../../img/fondo.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  height: 140vh !important;
}

#main{
   grid-area: main;
}
#nada{
   grid-area: nada;
}

#nada1{
   grid-area: nada1;
}
header {
  grid-area: header;
 
}

section#nada_derecho{
  grid-area: nada_derecho;
}


section#divisor1 {
  grid-area: divisor1;
  background-color: white;
  width: 4px;
  height: 100%;
  display: block;
  position: relative;
 
}

section#divisor5 {
  grid-area: divisor5;
    display: flex;     
   flex-direction: row; 
   justify-content: center;
}


section#deslizar{
grid-area:deslizar;
display: flex;
  flex-direction: row;
  justify-content: center;
}

.divisor5{
  background-color: white;
  width: 4px;
  height: 100%;

}

section#rrss {
  grid-area: rrss;
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: 30%;

}

.red_social{
   align-self: center;

}

section#divisor2 {
  grid-area: divisor2;
  
    display: flex;     
   flex-direction: row; 
   justify-content: center;
}


.divisor2{
  background-color: white;
  width: 4px;
  height: 100%;
  display: block;

}

section#divisor3{
  grid-area: divisor3;
  background-color: black;
    display: flex;     
   flex-direction: row; 
   justify-content: center;

}
.divisor3{
  background-color: white;
  width: 4px;
  height: 100%;

}

section#divisor4{
  grid-area: divisor4;
  background-color: black;
    display: flex;     
   flex-direction: row; 
   justify-content: center;
}

.divisor4{
  background-color: white;
  width: 4px;
  height: 100%;

}

section#cruz{
  grid-area: cruz;
  background-color: black;
    display: flex;     
   flex-direction: row; 
   justify-content: center;
}

.cruz{
      background: white;
      height: 60px;
      position: relative;
      width: 4px;
}

.cruz:after {
      background: white;
      content: "";
      height: 4px;
      left: -100px;
      position: absolute;
      top: 28px;
      width: 200px;
    }

#titulo{
  grid-area: titulo;
  background-color: black;
    display: flex;     
   flex-direction: column; 
   justify-content: center;

}

#sub_titulo{
  grid-area: sub_titulo;
  background-color: black;

}

section#espacio_negro{
  grid-area: espacio_negro;
  background-color: black;
}

section#espacio_blanco{
  grid-area: espacio_blanco;
  background-color: black ;
}



section#espacio_blanco2{
  grid-area: espacio_blanco2;
  background-color: black ;
}

section#espacio{
  grid-area: espacio;
background-color: black;
    display: flex;     
   flex-direction: column; 
   justify-content: center;
}

.espacio{
  background-color: white;
  width: 100%;
  height: 4px;
}

section#espacio2{
  grid-area: espacio2;
  background-color: black ;
}

.alineacion_v{
  display: flex;     
   flex-direction: column; 
   justify-content: center;
}


.alineacion_h{
  display: flex;     
   flex-direction: row; 
   justify-content: center;
}

nav{
  grid-area: nav;
}


