@charset "UTF-8";
/* VARIEBLES */
/* VARIEBLES */
<<<<<<< HEAD

=======
@media only screen and (min-device-width: 480px) {
  .alineacion_h {
    display: none; }
  .divisor2 {
    display: none; }
  .rrss {
    display: none !important; }
  .divisor3 {
    display: none !important; }
  .cruz {
    display: none !important; }
  .espacio {
    display: none !important; }
  .divisor4 {
    display: none !important; }
  .banner_inicio_logo {
    width: 100%; }
  .Proyecto_item {
    position: relative;
    width: 100vw; }
  .tabla_servicio1 {
    width: 70vw; }
  .tabla_servicio1 img {
    width: 60%;
    height: 60%; }
  .yo {
    display: flex;
    flex-direction: column !important; }
  .yo_info {
    width: 100%; } }
>>>>>>> 159a115b9d1ff610faaf66a95e3ce804bd4d4611

/* GENERAL */
body {
  font-family: 'Poppins', sans-serif;
  line-height: normal;
  text-decoration: none; }

* {
  margin: 0%;
  padding: 0%; }

@font-face {
  font-family: "DIN";
  src: url("../../font/DINPro-Medium.otf"); }

@font-face {
  font-family: "Megant";
  src: url("../../font/MegantÇ-Personal-Use.ttf"); }

h1 {
  color: #7CC3C6;
  text-align: center; }

h2 {
  color: #7CC3C6;
  text-align: center;
  font-size: 2rem;
  font-family: 'Megant', sans-serif; }

a {
  cursor: none; }

/* MENU */
*, *::after, *::before {
  box-sizing: border-box; }

main {
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 0 50px #000;
  transition: transform .5s; }

.intro {
  height: 100vh;
  width: 100%;
  display: table;
  background-size: cover; }

.red_social {
  font-size: 3.5rem;
  color: white; }

.red_social:hover {
  opacity: 0.7; }

.nav-trigger {
  position: fixed;
  z-index: 4;
  top: 40px;
  right: 40px;
  height: 44px;
  width: 44px;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
  text-indent: 100%; }

.nav-trigger span,
.nav-trigger span::before,
.nav-trigger span::after {
  position: absolute;
  height: 4px;
  width: 36px;
  background: #fff; }

.nav-trigger span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background .3s; }

.nav-trigger span::before,
.nav-trigger span::after {
  content: '';
  top: 0;
  left: 0;
  transition: background .3s, transform .3s; }

.nav-trigger span::before {
  transform: translateY(-12px); }

.nav-trigger span::after {
  transform: translateY(12px); }

.nav-trigger:hover span,
.nav-trigger:hover span::before,
.nav-trigger:hover span::after {
  background: #6B6B6B; }

.nav-open .nav-trigger span {
  background: transparent; }

.nav-open .nav-trigger span::before,
.nav-open .nav-trigger span::after {
  background: #7CC3C6; }

.nav-open .nav-trigger span::before {
  transform: rotate(-45deg); }

.nav-open .nav-trigger span::after {
  transform: rotate(45deg); }

.overlay2 {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1C1D21;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s; }

.nav-open .overlay2 {
  opacity: .6;
  visibility: visible; }

.nav-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 2em 3.5em;
  background: rgba(0, 0, 0, 0.9);
  overflow: auto;
  transform: translateZ(0);
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1); }

.nav-open .nav-container {
  transform: translateX(0); }

.nav-container h2 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #AAAAAA;
  margin: 1.5em 0; }

.nav {
  list-style: none;
  padding: 0; }

.nav a {
  display: block;
  margin: .5em 0;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  transform: translateZ(0); }

.nav a:hover {
  color: #7CC3C6; }

/*effect-underline*/
.nav a:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 3px solid;
  margin-top: 30px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  color: #7CC3C6; }

.nav a:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.nav-open .nav a {
  animation: slide-in .4s .2s backwards; }

.nav-open .nav li:nth-of-type(2) a {
  animation-delay: .3s; }

.nav-open .nav li:nth-of-type(3) a {
  animation-delay: .4s; }

.nav-open .nav li:nth-of-type(4) a {
  animation-delay: .5s; }

.nav-open .nav li:nth-of-type(5) a {
  animation-delay: .6s; }

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(80px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* INICIO */
nav {
  padding: 3%; }

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  margin-right: 0px; }

.banner_inicio_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%; }

.banner_inicio_texto {
  text-align: center;
  color: white;
  font-family: 'Megant', sans-serif;
  font-weight: 400; }

.banner_inicio_texto h2 {
  font-size: 80%; }

/* INICIO REDES SOCIALES */
a svg:hover #linkedin,
a svg:hover #behance,
a svg:hover #dribble {
  fill: #6B6B6B; }

a svg #linkedin,
a svg #behance,
a svg:hover #dribble {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out; }

/* INICIO - SCROLL ICON*/
.scroll {
  display: flex;
  justify-content: center; }

@keyframes scroll_2 {
  0% {
    transform: translateY(0);
    opacity: 1; }
  25% {
    opacity: 1; }
  75% {
    transform: translateY(0.75em);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 0; } }

.scroll-icon__dot {
  display: block;
  position: absolute;
  left: 50%;
  background: #fff;
  height: .4em;
  width: .4em;
  top: .6em;
  margin-left: -.25em;
  border-radius: 50%;
  transform-origin: top center;
  backface-visibility: hidden;
  animation: scroll_2 2s ease-out infinite; }

.scroll-icon {
  display: block;
  position: relative;
  height: 4em;
  width: 2.5em;
  border: .20em solid #fff;
  border-radius: 3em; }

/* INICIO-SECCIÓN PROYECTOS*/
.proyectos_titulo {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.proyectos_titulo h2 {
  font-family: 'Megant', sans-serif;
  margin-bottom: 0%;
  color: white;
  text-align: center; }

.proyectos_texto {
  text-align: center;
  padding-top: 1%;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  background-color: black; }

.proyectos_texto a {
  padding: 2%;
  color: white; }

.proyecto_portadas_imagen {
  width: 50%;
  height: 50%; }

.prueba {
  width: 100%;
  height: 100%; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: #020024;
  background: linear-gradient(180deg, rgba(2, 0, 36, 0.00183824) 0%, rgba(0, 0, 0, 0.637693) 100%); }

.Proyecto_item:hover .overlay {
  opacity: 1; }

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 90%;
  left: 50%;
  font-family: 'DIN', sans-serif;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.Proyecto_item {
  position: relative;
  width: 50vw; }

.proyectos_portadas_boton {
  background-color: black;
  display: flex;
  justify-content: center; }

.boton {
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #FFF;
  padding: 7px 20px;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 100px;
  transform: translate(0px, -20px);
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1rem; }

.proyectos_portadas_boton a:hover {
  background-color: #5A9696; }

.boton2 {
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #FFF;
  padding: 7px 20px;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 100px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1rem; }

.azul {
  background-color: #7CC3C6; }

/* INICIO-SERVICIOS */
.servicios {
  background-color: black;
  padding-bottom: 10%; }
  .servicios h2 {
    font-family: 'Megant', sans-serif;
    padding-top: 5%;
    color: white;
    margin-bottom: 2%;
    text-align: center; }

.tabla {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.tabla_servicio1 {
  display: flex;
  flex-direction: column;
  width: 17vw;
  margin: 2%; }
  .tabla_servicio1 h3 {
    color: white;
    text-align: center; }
  .tabla_servicio1 p {
    color: white;
    font-weight: 100;
    text-align: center; }
  .tabla_servicio1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%; }

table {
  font-style: normal;
  font-size: 90%;
  margin-right: 15%;
  margin-left: 15%; }

td {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  padding-right: 1%;
  padding-left: 1%;
  text-align: center;
  color: white; }

th {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: white; }

/* INICIO-SOBRE-MI */
.yo {
  display: flex;
  height: 60vh; }

.yo h2 {
  text-align: left;
  color: white; }

.yo p {
  color: white; }

.yo_info {
  width: 66%;
  height: 60vh;
  margin: auto;
  display: flex;
  height: 60vh;
  align-items: center;
  background-image: url("../../img/sobre_mi.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.yo_foto {
  width: 40%;
  height: 60vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background: url("../../img/perfil.jpg");
  background-size: cover; }

.yo_foto_foto {
  height: 100%; }

.yo_texto {
  width: 60%;
  padding-left: 20%; }

.yo_cv_svg {
  /*transform: translate(100px);*/ }

@keyframes float {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-40px); }
  100% {
    transform: translatey(40px); } }

.yo_cv {
  width: 400px;
  height: 400px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite; }
  .yo_cv img {
    width: 100%;
    height: auto; }

/* INICIO-FORMULARIO */
.formulario {
  margin: auto;
  width: 30%;
  height: 95vh;
  display: flex;
  align-items: center; }

.formulario h2 {
  text-align: left;
  margin-bottom: 10%; }

label {
  color: #7CC3C6;
  font-family: 'Poppins', sans-serif;
  font-weight: 300; }

.placeholder {
  color: #DDDDDD; }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 0px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #F0F0F0;
  font-family: 'Poppins', sans-serif;
  font-weight: 200; }

input[type=submit]:hover {
  background-color: #5A9696; }

footer {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 6%;
  padding-bottom: 6%; }

.footer_logo {
  display: block;
  display: flex;
  align-items: center; }

.red_social_footer {
  font-size: 3.5rem;
  color: white;
  margin-left: 10px;
  margin-right: 10px; }

.red_social_footer:hover {
  opacity: 0.7;
  color: #7CC3C6; }

/* PAGINA-SERVICIOS */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

/* desarrollo web */
.serv_de_web {
  background-color: #5CBEBA;
  padding: 5%; }

.serv_de_web h1 {
  color: white;
  text-align: left;
  margin: 0%; }

.serv_de_web p {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 200; }

/* diseño web */
.serv_di_web {
  background-color: #454545;
  width: 40%;
  display: inline-block;
  padding: 5%; }

.serv_di_web h1 {
  color: white;
  text-align: left;
  margin: 0; }

.serv_di_web p {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 200; }

/* branding */
.serv_brand {
  width: 40%;
  display: inline-block;
  padding: 5%; }

.serv_brand h1 {
  color: #5CBEBA;
  text-align: left;
  margin: 0; }

.serv_brand p {
  color: #454545;
  font-family: 'Poppins', sans-serif;
  font-weight: 200; }

/* editorial */
.serv_editorial {
  padding: 5%;
  width: 40%;
  display: inline-block;
  background-color: #5CBEBA; }

.serv_editorial h1 {
  color: white;
  text-align: left;
  margin: 0; }

.serv_editorial p {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 200; }

/* packaging*/
.serv_packaging {
  background-color: #454545;
  width: 40%;
  display: inline-block;
  padding: 5%; }

.serv_packaging h1 {
  color: white;
  text-align: left;
  margin: 0; }

.serv_packaging p {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 200; }

.formulario_contacto {
  height: 75vh;
  background-color: #F4F4F4;
  padding-bottom: 5%; }

.formulario_contacto h1 {
  padding-top: 12%; }

/* PAGINA PROYECTOS */
.filterDiv {
  float: left;
  text-align: center;
  display: none; }

.show {
  display: flex; }

#myBtnContainer {
  background-color: black;
  padding-top: 5%;
  padding-bottom: 3%;
  display: flex;
  justify-content: center; }

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: black;
  color: white;
  margin: 1%;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1rem; }

.btn:hover {
  color: #7CC3C6; }

.btn.active {
  color: #7CC3C6; }

/* PROYECTO_PAGINA */
.black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center; }

.hero-image-font h2 {
  font-size: 3rem;
  color: white; }

.hero-image-bifix {
  width: 100%;
  height: 500px;
  background-image: url("../../img/bifix.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero-image-berco {
  width: 100%;
  height: 500px;
  background-image: url("../../img/berco_portada.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero-image-vecinos {
  width: 100%;
  height: 500px;
  background-image: url("../../img/vecinos_hero.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero-image-mexico {
  width: 100%;
  height: 500px;
  background-image: url("../../img/mexico_hero.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.proyect_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1F1F1F; }

.proyect_info_descripcion {
  width: 70%;
  padding: 10%; }
  .proyect_info_descripcion p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1rem; }
  .proyect_info_descripcion h2 {
    color: white;
    text-align: left;
    font-size: 2rem;
    font-family: 'DIN', sans-serif;
    margin-bottom: 30px; }

.proyect_info_herramientas {
  display: flex;
  align-items: center; }

.proyect_info_herramientas img {
  margin-top: 30px; }

.fotos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.fotos img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100vw; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h2 {
    font-size: 3.5rem;
    line-height: 1.3; }
  p {
    font-size: 2rem !important; }
  .nav-trigger {
    position: fixed;
    z-index: 4;
    top: 60px;
    right: 60px;
    height: 50px;
    width: 80px;
    overflow: hidden;
    color: transparent;
    white-space: nowrap;
    text-indent: 100%; }
  .nav-trigger span,
  .nav-trigger span::before,
  .nav-trigger span::after {
    position: absolute;
    height: 8px;
    width: 600px;
    background: #fff; }
  .nav-trigger span::before {
    transform: translateY(-20px); }
  .nav-trigger span::after {
    transform: translateY(20px); }
  .alineacion_h {
    display: none !important; }
  .divisor2 {
    display: none !important; }
  .rrss {
    display: none !important; }
  .divisor3 {
    display: none !important; }
  .cruz {
    display: none !important; }
  .espacio {
    display: none !important; }
  .divisor4 {
    display: none !important; }
  .deslizar {
    margin-top: 99%; }
  .banner_inicio_texto {
    margin-right: 3%;
    margin-left: 3%; }
  .banner_inicio_logo {
    width: 100%; }
  .proyectos_texto p {
    font-size: 2rem !important; }
  .Proyecto_item {
    position: relative;
    width: 100vw; }
  .tabla_servicio1 {
    width: 70vw; }
  .tabla_servicio1 img {
    width: 60%;
    height: 60%; }
  .tabla_servicio1 h3 {
    font-size: 2rem !important; }
  .boton {
    font-size: 2rem; }
  .yo {
    display: flex;
    flex-direction: column !important; }
  .yo_texto {
    padding-left: 0%;
    width: 80% !important; }
  .yo_texto p {
    text-align: center; }
  .yo_texto h2 {
    text-align: center;
    margin-bottom: 5% !important; }
  .yo_info {
    width: 100%;
    flex-direction: column !important;
    padding-top: 15%; }
  .yo_foto {
    display: none !important;
    height: 0% !important; }
  .yo_cv img {
    margin-top: 15%; } }
